<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'receitas/Partials/head.html' %}
    <title>{% block title %}{% endblock title %} Receitas</title>
</head>

{% include 'receitas/Partials/Head.html' %}

<body>
    {% include 'receitas/Partials/Header.html' %}
    {% include 'receitas/Partials/Search.html' %}

    <main class="main-content-container">
       {% block content %}`{% endblock %}`
        </div>

    </main>

      {% include 'receitas/Partials/Footer.html' %}
</body>

</html>