<div class="Receitas Receitas-list-item">
  <div class="Receitas-cover">
    <a href="{% url 'receitas:receita' receita.id %}">
      <img src="{{ receita.cover.url }}" alt="Imagem da receita" />
    </a>
  </div>

  <div class="Receitas-title-container">
    <h2 class="Receitas-title">
      <a href="{% url 'receitas:receita' receita.id %}">
        {{ receita.title }}
      </a>
    </h2>
  </div>

  <!-- demais blocos iguais -->
  
  {% if not is_detail_page %}
    <footer class="Receitas-footer">
      <a class="Receitas-read-more button button-dark button-full-width"
         href="{% url 'receitas:receita' receita.id %}">
        <i class="fas fa-eye"></i>
        <span>ver mais...</span>
      </a>
    </footer>
  {% endif %}

  {% if is_detail_page %}
    <div class="preparation_steps">
      <h2>Modo de Preparo</h2>
      <p>{{ receita.preparation_steps|linebreaksbr }}</p>
    </div>
  {% endif %}
</div>
